g body {
  overflow: hidden;
  background-color: #1a1a1d;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  color: rgb(166, 77, 121);
  text-align: center;
  font-family: "Prompt", sans-serif;
}

.main2 {
  background-color: #1a1a1d;
  padding: 1rem;
  flex-grow: 1;
  position: fixed;
  top: 25%;
  left: 20%;
  width: 107.5rem;
  padding: 15.625rem;
  transform: translate(-50%, -50%);
  background: rgb(18, 18, 18);
  box-shadow: 0 15px 25pc rgb(166, 77, 121);
  border-radius: 10px;
}

.formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  /*
    background:rgb(18, 18, 18);
    box-shadow: 0 15px 25pc blueviolet;
    */
  border-radius: 10px;
}

.formulario h1 {
  text-align: center;
  padding: 0 0 1.25rem 0;
  border-bottom: 1px solid rgb(166, 77, 121);
}
.formulario form {
  padding: 0 2.5rem;
  box-sizing: border-box;
}
form .username {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 1.875rem 0;
}
.username input {
  width: 100%;
  padding: 0 0.3125rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
}
.username label {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.5s;
}
.username samp::before {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: hotpink;
}

.username input:focus ~ label,
.username input:valid ~ label {
  top: -0.3125rem;
  color: #a64d79;
}
.username input:focus ~ span::before,
.username input:valid ~ span::before {
  width: 100%;
}
.recordar {
  margin: -0.3125rem 0 1.25rem 0.3125rem;
  color: #a64d79;
  cursor: pointer;
}
.recordar:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 3.125rem;
  border: 0.0625rem solid;
  background: rgb(106, 30, 85);
  border-radius: 1.25rem;
  font-size: 1.125rem;
  color: white;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: rgb(187, 104, 165);
  transition: 0.5s;
}

.registrarse {
  margin: 1.875rem 0;
  text-align: center;
  font-size: 1rem;
  color: rgb(106, 30, 85);
}
.registrarse a {
  color: #a64d79;
  text-decoration: none;
}
.registrarse a:hover {
  text-decoration: underline;
}
form .contraseña {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.contraseña input {
  width: 100%;
  padding: 0 0.3125rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
}
.contraseña label {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: 0.5s;
}
.contraseña samp::before {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: hotpink;
}

.contraseña input:focus ~ label,
.contraseña input:valid ~ label {
  top: -0.3125rem;
  color: rgb(166, 77, 121);
}

.contraseña input:focus ~ span::before,
.contraseña input:valid ~ span::before {
  width: 100%;
}
main {
  top: 55%;
  left: 50%;
  width: 107.5rem;
  padding: 12.5rem;
}

form .mail {
  position: relative;
  border-bottom: 0.125rem solid #adadad;
  margin: 1.875rem 0;
}
.mail input {
  width: 100%;
  padding: 0 0.3125rem;
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
}
.mail label {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.mail samp::before {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: hotpink;
  transition: 0.5s;
}

.mail input:focus ~ label,
.mail input:valid ~ label {
  top: -0.3125rem;
  color: rgb(59, 28, 50);
}
.mail input:focus ~ span::before,
.mail input:valid ~ span::before {
  width: 100%;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 1200px) {
  .formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35rem;

    border-radius: 10px;
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 992px) {
  .formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;

    border-radius: 10px;
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  .formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;

    border-radius: 10px;
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 576px) {
  .formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;

    border-radius: 10px;
  }
}
